.table-email {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table-email-tr, .table-email-th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.table-email-tr:nth-child(even) {
  background-color: #dddddd;
}