.footer{
    color: aliceblue;
    background-color: lime;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 0 !important;
}
.foter{
    transition: 1s;
    color: white;
    background-color: lime;
}
.foter:hover{
    transition: 1s;
    text-decoration: underline wavy;
    color: aliceblue;
    
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
